<!DOCTYPE HTML>
<html>
<head>
    <title>Socket-Test</title>
    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            namespace = '/notes';
            var socket = io(namespace);

            socket.on('my_response', function(msg, cb) {
                if(msg.is_listening){
                    console.log("Stop")
                    $('#start').val("Stop")
                } else {
                    console.log("Start")
                    $('#start').val("Start")
                }
            });
            socket.on('new_message', function(msg, cb) {
                $('#text').append('<br>' + $('<div/>').text(msg.data).html());
            });

            $('form#listen').submit(function(event) {
                socket.emit('button_press');
                return false;
            });

            
        });
    </script>
</head>
<body style="background-color:white;">

    <h1 style="background-color:white;">Socket</h1>
    <form id="listen" method="POST" action="#">
        <input type="submit" id="start" value="Start"></button>
    </form>
    <div id="text">
        
    </div>
</body>
</html>