<!DOCTYPE html>
<html>
  <head>
    <title>Lecture Monke</title>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function () {
        namespace = "/notes";
        var socket = io(namespace);

        socket.on("my_response", function (msg, cb) {
          if (msg.is_listening) {
            $("#sentences").empty();
            $("#start").text("Stop");
          } else {
            $("#start").text("Start");
          }
        });
        socket.on("new_message", function (msg, cb) {
          console.log(msg.idx);
          $("#text").append("<br>" + $("<div/>").text(msg.data).html());
        });

        socket.on("all_messages", function (message, cb) {
          console.log(message)
          const list = $("#all_sentences");
          list.empty();
          for (let i = message.data.length - 2; i >= 0; i--) {
            list.append(
              '<p class="text sentence ' + i + '"> ' + message.data[i] + "</p>"
            );
          }
          $('#main_sentence').text(message.data[message.data.length - 1])
        });

        $("#start").click(function (event) {
          socket.emit("button_press");
          return false;
        });
      });
    </script>
  </head>
  <body class="container" style="overflow:hidden">
    <div class="container">
        <h1 class="text header">Lecture Monke</h1>
        <h3 id="start" class="text subheader">Start</h3>
        <p id="main_sentence" class="text main-sentence"></p>
        
        <div id="all_sentences" class="">            
        </div>
    </div>
</div>
<div class="leaf">
<div>  <img src="https://www.pngmart.com/files/1/Banana-Fruit-Cartoon-PNG.png" height="75px" width="75px"></img></div>
 <div><img src="https://www.pngmart.com/files/1/Banana-PNG.png" height="75px" width="75px"></img></div>
 <div>  <img src="https://www.pngmart.com/files/1/Banana-Bunch-PNG.png" height="75px" width="75px" ></img></div>
  <div> <img src="https://www.pngmart.com/files/5/Gorilla-PNG-Clipart.png" height="0px" width="0px"></img></div>
<div>   <img src="https://www.pngmart.com/files/1/Realistic-Banana-PNG.png" height="75px" width="75px"></div>

       
</div>

<div class="leaf leaf1">
<div>  <img src="https://www.pngmart.com/files/1/Banana-Fruit-Cartoon-PNG.png" height="0px" width="0px"></img></div>
 <div><img src="https://www.pngmart.com/files/1/Banana-PNG.png" height="0px" width="0px"></img></div>
 <div>  <img src="https://www.pngmart.com/files/1/Banana-Bunch-PNG.png" height="0px" width="0px" ></img></div>
 <div>  <img src="https://www.pngmart.com/files/1/Realistic-Banana-PNG.png" height="0px" width="0px" ></img></div>
 <div>  <img src="https://www.pngmart.com/files/1/Banana-Fruit-PNG.png" height="0px" width="0px" ></img></div>
</div>

<div class="leaf leaf2">
  <div> <img src="https://www.pngmart.com/files/1/Banana-Fruit-Cartoon-PNG.png" height="0px" width="0px"></img></div>
<div>   <img src="https://www.pngmart.com/files/1/Banana-PNG.png" height="0px" width="0px"></div>
<div><img src="https://www.pngmart.com/files/1/Banana-Bunch-PNG.png" height="0px" width="0px"></div>
       
</div>

  </body>
</html>
<!-- <h1 style="background-color:white;">Lecture Monke</h1>
<form id="listen" method="POST" action="#">
    <input type="submit" id="start" value="Start"></button>
</form>
<div id="sentences">
    <a class="sentence j">Sentence 1</a>
    <a class="sentence j">Sentence 2</a>
</div> -->
